{% extends 'layout.html' %}

{% block content %}
     <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <button onclick="location.href='/domicilio';" type="button" class="btn btn-info mb-3" title="Atras">
              <i class="mdi mdi-keyboard-return"></i>
            </button>
            <h4 class="header-title mb-3">Registrar Domicilio</h4>


          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
