{% extends 'layout.html' %}
{% load static %}

{% block content %}

 <div class="container-fluid">
    <div class="row">
{#      {% if 'ciudad_query' in privileges %}#}
      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <h4 class="header-title mb-3">Domicilio</h4>

{#            {% if 'ciudad_insert' in privileges %}#}
            <button id="new" onclick="location.href='form';" type="button" class="btn btn-info mb-3" data-toggle="modal"
              data-target="#modal" title="Nuevo">
              <i class="mdi mdi-plus"></i>
            </button>
{#            {% end %}#}

            <div class="content">
              <table id="data_table" class="table table-striped dt-responsive nowrap w-100"></table>
            </div>
          </div>
        </div>
      </div>
{#      {% else %}#}
      <div class="col-12"></div>
{#      {% end %}#}
    </div>
</div>

{% endblock %}

{% block extrajs %}
    <script src='{% static "js/administracion/condominio/index.js" %}'></script>
{% endblock %}
