<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Incidente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>

      <div class="modal-body">
        <form id="submit_form" class="pl-3 pr-3 needs-validation" novalidate>
        <div class="row">
              <div class="col-12 col-sm-3">
                <div class="form-group mb-3">
                    <input id="id" name="id" type="hidden" />
                    <label for="fecha">Fecha Incidente *</label>
                    <input id="fecha" name="fecha" type="text" class="form-control form-control-sm item-form current-dt" data-provide="datepicker" placeholder="" required autocomplete="off">
                </div>
            </div>
              <div class="col-12 col-sm-3">
                <div class="form-group mb-3">
                    <input id="id" name="id" type="hidden" />
                    <label for="estados">Estado</label>
                    <select id="estados" name="estados" class="form-control show-tick" >
                      <option value="Abierto">Abierto</option>
                      <option value="Cerrado">Cerrado</option>
                      <option value="No Aplica">No Aplica</option>
                    </select>

                </div>
            </div>
            <div class="col-12 col-sm-6">
                    <label for="recargar">Actualizar</label>
                    <div class="form-group mb-3">
                         <button id="recargar" type="button" class="btn btn-info mb-3" title="Actualizar">
                            <i class="mdi mdi-reload"></i>
                          </button>
                    </div>
                </div>

          </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="form-group mb-3">
                    <label for="fklinea">Linea *</label>
                    <select id="fklinea" name="fklinea" class="form-control show-tick" required>
                   {% for i in lineas %}
                      <option value="{{ i.id }}">{{ i.codigo }}</option>
                   {% endfor %}
                    </select>
                </div>
            </div>
          </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="form-group mb-3">
                    <label for="tipoPersona">Tipo de Persona</label>
                    <select id="tipoPersona" name="tipoPersona" class="form-control show-tick" >
                      <option value="Conductor">Conductor</option>
                      <option value="Socio">Socio</option>
                    </select>

                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group mb-3">
                    <label for="fkpersona">Responsable *</label>
                    <select id="fkpersona" name="fkpersona" class="form-control show-tick">
{#                   {% for i in personas %}#}
{#                      <option value="{{ i.id }}">{{ i.nombre }} {{ i.apellidos }}</option>#}
{#                   {% endfor %}#}
                    </select>
                </div>
            </div>
         </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group mb-3">
                        <label for="fktipo">Incidente *</label>
                        <select id="fktipo" name="fktipo" class="form-control show-tick" required>
                       {% for i in tipos %}
                          <option value="{{ i.id }}">{{ i.nombre }}</option>
                       {% endfor %}
                        </select>
                    </div>
                </div>
            <div class="col-12 col-sm-6">
                <div class="form-group mb-3">
                    <label for="descripcion">Descripcion *</label>
                    <input id="descripcion" name="descripcion" type="text" class="form-control form-control-sm"
                        placeholder="" required />
                </div>
            </div>

          </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group mb-3">
                        <label for="costo">Costo Aproximado *</label>
                        <input id="costo" name="costo" type="number" class="form-control form-control-sm"
                            placeholder="" required />
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                <div class="form-group mb-3">
                    <label for="otro">Otro *</label>
                    <input id="otro" name="otro" type="text" class="form-control form-control-sm"
                        placeholder="" />
                </div>
            </div>

          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">
          <i class="mdi mdi-close-box mr-1"></i> <span>Cerrar</span>
        </button>
        <button id="insert" type="button" class="btn btn-primary">
          <i class="mdi mdi-content-save mr-1"></i> <span>Guardar</span>
        </button>
        <button id="update" type="button" class="btn btn-primary">
          <i class="mdi mdi-content-save mr-1"></i> <span>Actualizar</span>
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal-tipo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Tipos de Incidentes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>

      <div class="modal-body">
        <form id="submit_form-tipo" class="pl-3 pr-3 needs-validation" novalidate>
          <div class="row">
            <div class="col-12 col-sm-6">
                <div class="form-group mb-3">
                    <input id="id-tipo" name="id-tipo" type="hidden" />
                    <label for="nombre-tipo">Incidente *</label>
                    <input id="nombre-tipo" name="nombre-tipo" type="text" class="form-control form-control-sm"
                        placeholder="" required />
                </div>
            </div>

          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">
          <i class="mdi mdi-close-box mr-1"></i> <span>Cerrar</span>
        </button>
        <button id="insert-tipo" type="button" class="btn btn-primary">
          <i class="mdi mdi-content-save mr-1"></i> <span>Guardar</span>
        </button>
        <button id="update-tipo" type="button" class="btn btn-primary">
          <i class="mdi mdi-content-save mr-1"></i> <span>Actualizar</span>
        </button>
      </div>
    </div>
  </div>
</div>