 <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Registrar Vehiculo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <form id="submit_form" class="pl-3 pr-3 needs-validation" novalidate>
            <div class="tab-pane show active" id="bordered-tabs-preview">
                <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                    <li class="nav-item">
                        <a href="#general" data-bs-toggle="tab" aria-expanded="true" class="nav-link rounded-0 active">
                            <i class="mdi mdi-home-variant d-md-none d-block"></i>
                            <span class="d-none d-md-block">Datos Generales</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#adjuntos" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                            <i class="mdi mdi-account-circle d-md-none d-block"></i>
                            <span class="d-none d-md-block">Ruat y Fotos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#adjuntos2" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                            <i class="mdi mdi-account-circle d-md-none d-block"></i>
                            <span class="d-none d-md-block">Soat y otros</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane show active" id="general">
                    <div id="div_seleccion" class="row">
                        <div class="col-12 col-sm-6">
                        <div class="form-group mb-6">
                            <label >Seleccione</label>
                            <select id="seleccion" name="seleccion" class="form-control show-tick" required>
                              <option value="1">Selección de linea / Interno disponible</option>
                              <option value="2">Transferir Linea de otro vehiculo</option>
                            </select>
                        </div>
                        </div>
                    </div>
                    <div id="div_linea" class="row">
                        <div class="col-12 col-sm-4">
                            <div class="form-group mb-3">
                                <label for="fklinea">Linea *</label>
                                <input id="lineavehiculoid" name="lineavehiculoid" type="hidden" />
                                <select id="fklinea" name="fklinea" class="form-control show-tick" required>
                               {% for i in lineas %}
                                  <option value="{{ i.id }}">{{ i.codigo }}</option>
                               {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group mb-3">
                                <label for="fkinterno">Internos *</label>
                                <select id="fkinterno" name="fkinterno" class="form-control show-tick" required>

                                </select>
                            </div>
                        </div>

                    </div>
                    <div id="div_vehiculo" class="row">
                        <div id="div_listaVehiculo" class="col-12 col-sm-6">
                            <div class="form-group mb-6">
                                <label>Vehiculo</label>
                                <select id="listaVehiculo" name="listaVehiculo" class="form-control show-tick">

                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-3">
                            <div class="form-group mb-3">
                                <label>Linea</label>
                                <input id="lineaVehiculo" name="lineaVehiculo" type="text" class="form-control form-control-sm"
                                    placeholder="" disabled />
                            </div>
                        </div>
                        <div class="col-12 col-sm-3">
                            <div class="form-group mb-3">
                                <label>Interno</label>
                                <input id="internoVehiculo" name="internoVehiculo" type="text" class="form-control form-control-sm"
                                    placeholder="" disabled />
                            </div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group mb-3">
                                <label for="fkcategoria">Clase *</label>
                             <input id="id" name="id" type="hidden" />
                                <select id="fkcategoria" name="fkcategoria" class="form-control show-tick" required>
                               {% for i in categorias %}
                                  <option value="{{ i.id }}">{{ i.nombre }}</option>
                               {% endfor %}
                                </select>
                            </div>
                        </div>
                      </div>
                        <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group mb-3">
                                <label for="placa">Placa *</label>
                                <input id="placa" name="placa" type="text" class="form-control form-control-sm"
                                    placeholder="" required />
                            </div>
                        </div>
                          <div class="col-12 col-sm-6">
                            <div class="form-group mb-3">
                                <label for="año">Año *</label>
                                <input id="año" name="año" type="number" class="form-control form-control-sm"
                                    placeholder="" required />
                            </div>
                        </div>

                        <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group mb-3">
                                <label for="tipo">Tipo *</label>
                                <input id="tipo" name="tipo" type="text" class="form-control form-control-sm"
                                    placeholder="" required />
                            </div>
                        </div>
                            <div class="col-12 col-sm-6">
                            <div class="form-group mb-3">
                                <label for="modelo">Marca *</label>
                                <input id="modelo" name="modelo" type="text" class="form-control form-control-sm"
                                    placeholder="" required />
                            </div>
                        </div>
                      </div>

                      </div>
                    </div>
                    <div class="tab-pane" id="adjuntos">
                        <div class="row">
                              <div class="col-12 col-sm-6">
                                <button id="insertfile" type="button" class="btn btn-primary">
                                  <i class="mdi mdi-content-save mr-1"></i> <span>Guardar Adjuntos</span>
                                </button>
                          </div>
                         </div>
 <br/>
                        <div class="row">
                          <div class="col-12 col-sm-6">
                              <label for="file-ruat">Ruat</label>
                              <input type="file" id="ruat" name="ruat" class="app-file">
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="row bg-preview">
                                <div class="col-12 content-preview">
                                  <img id="img-ruat" src="" class="img-thumbnail image-preview d-none" alt="Vista previa ruat" />
                                  <i id="icon-ruat" class="mdi app-fs-70 mdi-file-account icon-preview"></i>
                                </div>
                              </div>
                            </div>
                        </div>
                         <br/>
                        <div class="row">
                          <div class="col-12 col-sm-6">
                              <label for="file-frontal">Foto Frontal</label>
                              <input type="file" id="frontal" name="frontal" class="app-file">
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="row bg-preview">
                                <div class="col-12 content-preview">
                                  <img id="img-frontal" src="" class="img-thumbnail image-preview d-none" alt="Vista previa frontal" />
                                  <i id="icon-frontal" class="mdi app-fs-70 mdi-file-account icon-preview"></i>
                                </div>
                              </div>
                            </div>
                        </div>
                         <br/>
                        <div class="row">
                          <div class="col-12 col-sm-6">
                              <label for="file-lateral">Foto Lateral</label>
                              <input type="file" id="lateral" name="lateral" class="app-file">
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="row bg-preview">
                                <div class="col-12 content-preview">
                                  <img id="img-lateral" src="" class="img-thumbnail image-preview d-none" alt="Vista previa lateral" />
                                  <i id="icon-lateral" class="mdi app-fs-70 mdi-file-account icon-preview"></i>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>

                <div class="tab-pane" id="adjuntos2">
                        <div class="row">
                              <div class="col-12 col-sm-6">
                                <button id="insertfile2" type="button" class="btn btn-primary">
                                  <i class="mdi mdi-content-save mr-1"></i> <span>Guardar Adjuntos</span>
                                </button>
                          </div>
                         </div>
                     <br/>
                        <div class="row">
                          <div class="col-12 col-sm-6">
                              <label for="file-soat">Soat</label>
                              <input id="soatVencimiento" name="soatVencimiento"  type="text" class="form-control form-control-sm item-form current-dt" data-provide="datepicker" placeholder="Fecha de vencimiento" autocomplete="off">
                              <input type="file" id="soat"  name="soat" class="app-file">
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="row bg-preview">
                                <div class="col-12 content-preview">
                                  <img id="img-soat" src="" class="img-thumbnail image-preview d-none" alt="Vista previa soat" />
                                  <i id="icon-soat" class="mdi app-fs-70 mdi-file-account icon-preview"></i>
                                </div>
                              </div>
                            </div>
                        </div>
                     <br/>

                        <div class="row">
                          <div class="col-12 col-sm-6">
                              <label for="file-inspeccion">Inspeccion Tecnica</label>
                              <input id="inspeccionVencimiento" name="inspeccionVencimiento"  type="text" class="form-control form-control-sm item-form current-dt" data-provide="datepicker" placeholder="Fecha de vencimiento" autocomplete="off">

                              <input type="file" id="inspeccion" name="inspeccion" class="app-file">
                            </div>

                            <div class="col-12 col-sm-6">
                              <div class="row bg-preview">
                                <div class="col-12 content-preview">
                                  <img id="img-inspeccion" src="" class="img-thumbnail image-preview d-none" alt="Vista previa inspeccion" />
                                  <i id="icon-inspeccion" class="mdi app-fs-70 mdi-file-account icon-preview"></i>
                                </div>
                              </div>
                            </div>
                        </div>
                     <br/>
                        <div class="row">
                          <div class="col-12 col-sm-6">
                              <label for="file-seguro">Seguro</label>
                              <input id="seguroVencimiento" name="seguroVencimiento"  type="text" class="form-control form-control-sm item-form current-dt" data-provide="datepicker" placeholder="Fecha de vencimiento" autocomplete="off">

                              <input type="file" id="seguro" name="seguro" class="app-file">
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="row bg-preview">
                                <div class="col-12 content-preview">
                                  <img id="img-seguro" src="" class="img-thumbnail image-preview d-none" alt="Vista previa seguro" />
                                  <i id="icon-seguro" class="mdi app-fs-70 mdi-file-account icon-preview"></i>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">
          <i class="mdi mdi-close-box mr-1"></i> <span>Cerrar</span>
        </button>
        <button id="upsert" type="button" class="btn btn-primary">
          <i class="mdi mdi-content-save mr-1"></i> <span>Guardar</span>
        </button>
      </div>
    </div>
  </div>
</div>

 <div class="modal fade" id="modal-categoria" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>

      <div class="modal-body">
        <form id="submit_form-categoria" class="pl-3 pr-3 needs-validation" novalidate>
          <div class="row">
            <div class="col-12 col-sm-6">
                <div class="form-group mb-3">
                    <input id="id-categoria" name="id-categoria" type="hidden" />
                    <label for="nombre-categoria">Nombre *</label>
                    <input id="nombre-categoria" name="nombre-categoria" type="text" class="form-control form-control-sm"
                        placeholder="" required />
                </div>
            </div>

          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button id="cerrar-categoria" type="button" class="btn btn-light" data-bs-dismiss="modal">
          <i class="mdi mdi-close-box mr-1"></i> <span>Cerrar</span>
        </button>
        <button id="insert-categoria" type="button" class="btn btn-primary">
          <i class="mdi mdi-content-save mr-1"></i> <span>Guardar</span>
        </button>
        <button id="update-categoria" type="button" class="btn btn-primary">
          <i class="mdi mdi-content-save mr-1"></i> <span>Actualizar</span>
        </button>
      </div>
    </div>
  </div>
</div>

 <div class="modal fade" id="modal_asignacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Linea</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <form id="submit_form_asignacion" class="pl-3 pr-3 needs-validation" novalidate>
        <div class="row">
         <div class="col-12 col-sm-4">
                <div class="form-group mb-3">
                    <label for="fecha">Fecha *</label>
                    <input id="fecha" name="fecha" type="date" class="form-control form-control-sm"
                        placeholder="" required />
                </div>
            </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">
          <i class="mdi mdi-close-box mr-1"></i> <span>Cerrar</span>
        </button>
        <button id="asignar" type="button" class="btn btn-primary">
          <i class="mdi mdi-content-save mr-1"></i> <span>Asignar</span>
        </button>
        <button id="retirar" type="button" class="btn btn-primary">
          <i class="mdi mdi-content-save mr-1"></i> <span>Retirar</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-transferencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Transferencia de Linea Interno</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <form id="submit_form-transferencia" class="pl-3 pr-3 needs-validation">
             <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group mb-6">
                        <label>Placa del Vehiculo</label>
                        <input id="vehiculoId" name="vehiculoId" type="hidden" />
                        <input id="vehiculoPlaca" name="vehiculoPlaca" type="text" class="form-control referencia form-control-sm"
                            placeholder="" disabled />
                    </div>
                </div>
                 <div class="col-12 col-sm-3">
                    <div class="form-group mb-3">
                        <label>Tipo</label>
                        <input id="tipo-trans" name="tipo" type="text" class="form-control referencia form-control-sm"
                            placeholder="" disabled />

                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="form-group mb-3">
                        <label>Marca</label>
                        <input id="modelo-trans" name="modelo" type="text" class="form-control referencia form-control-sm"
                            placeholder="" disabled />
                    </div>
                </div>

              </div>


            <div class="row">
                <div class="col-12 col-sm-3">
                    <div class="form-group mb-3">
                        <label>Linea</label>
                        <input id="lineaId" name="lineaId" type="hidden" />
                        <input id="linea" name="linea" type="text" class="form-control referencia form-control-sm"
                            placeholder="" disabled />

                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="form-group mb-3">
                        <label>Interno</label>
                        <input id="internoId" name="internoId" type="hidden" />
                        <input id="interno" name="interno" type="text" class="form-control referencia form-control-sm"
                            placeholder="" disabled />
                    </div>
                </div>

              </div>
                <div id="div_seleccion_trans" class="row">
                        <div class="col-12 col-sm-6">
                        <div class="form-group mb-6">
                            <label >Seleccione</label>
                            <select id="seleccione_trans" name="seleccione_trans" class="form-control show-tick" required>
                              <option value="1">Selección de linea / Interno disponible</option>
                              <option value="2">Transferir Linea de otro vehiculo</option>
                            </select>
                        </div>
                        </div>
                    </div>
                <div id="div_linea_trans" class="row">
                    <div class="col-12 col-sm-4">
                        <div class="form-group mb-3">
                            <label >Linea *</label>
                            <select id="fklinea_trans" name="fklinea_trans" class="form-control show-tick" required>
                           {% for i in lineas %}
                              <option value="{{ i.id }}">{{ i.codigo }}</option>
                           {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group mb-3">
                            <label >Internos *</label>
                            <select id="fkinterno_trans" name="fkinterno_trans" class="form-control show-tick" required>

                            </select>
                        </div>
                    </div>

                </div>
                <div id="div_vehiculo_trans" class="row">
                    <div id="div_listaVehiculo_trans" class="col-12 col-sm-6">
                        <div class="form-group mb-6">
                            <label>Vehiculo</label>
                            <select id="listaVehiculo_trans" name="listaVehiculo_trans" class="form-control show-tick">

                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3">
                        <div class="form-group mb-3">
                            <label>Linea</label>
                            <input id="lineaVehiculo_trans" name="lineaVehiculo_trans" type="text" class="form-control form-control-sm"
                                placeholder="" disabled />
                        </div>
                    </div>
                    <div class="col-12 col-sm-3">
                        <div class="form-group mb-3">
                            <label>Interno</label>
                            <input id="internoVehiculo_trans" name="internoVehiculo_trans" type="text" class="form-control form-control-sm"
                                placeholder="" disabled />
                        </div>
                    </div>
                </div>


        </form>
      </div>
        <div class="modal-footer">

        <button id="cerrar" type="button" class="btn btn-light" data-bs-dismiss="modal">
          <i class="mdi mdi-close-box mr-1"></i> <span>Cerrar</span>
        </button>
        <button id="btnTransferir" type="button" class="btn btn-primary">
          <i class="mdi mdi-content-save mr-1"></i> <span>Transferir</span>
        </button>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="modal-historialTransferencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Historial de Transferencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <form id="submit_form-historialTransferencia" class="pl-3 pr-3 needs-validation">
             <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group mb-6">
                        <label>Placa del Vehiculo</label>
                        <input id="placa-historialTrans" name="vehiculoPlaca" type="text" class="form-control form-control-sm"
                            placeholder="" disabled />
                    </div>
                </div>
                 <div class="col-12 col-sm-3">
                    <div class="form-group mb-3">
                        <label>Tipo</label>
                        <input id="tipo-historialTrans" name="tipo" type="text" class="form-control  form-control-sm"
                            placeholder="" disabled />

                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="form-group mb-3">
                        <label>Marca</label>
                        <input id="modelo-historialTrans" name="modelo" type="text" class="form-control form-control-sm"
                            placeholder="" disabled />
                    </div>
                </div>

              </div>

        </form>
      </div>
        <div class="modal-footer">

      </div>

    </div>
  </div>
</div>
