<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Socio</h5>
          <h5 class="modal-title" id="modalLabelRefencia" hidden>Registrar Referencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <form id="submit_form" class="pl-3 pr-3 needs-validation" novalidate enctype="multipart/form-data">
            <div class="tab-pane show active" id="bordered-tabs-preview">
                <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                    <li class="nav-item">
                        <a href="#general" data-bs-toggle="tab" aria-expanded="true" class="nav-link rounded-0 active">
                            <i class="mdi mdi-home-variant d-md-none d-block"></i>
                            <span class="d-none d-md-block">Datos Generales</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#adjuntos" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                            <i class="mdi mdi-account-circle d-md-none d-block"></i>
                            <span class="d-none d-md-block">Foto y licencias</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#adjuntos2" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                            <i class="mdi mdi-account-circle d-md-none d-block"></i>
                            <span class="d-none d-md-block">Certificado, Memorándum</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane show active" id="general">
                        <div id="div_transferencia" class="row" hidden>
                            <div class="col-12 col-sm-6">
                                <div class="form-group mb-3">
                                    <input id="idSocio" name="idSocio" type="hidden" />
                                    <label>Transferencia por Socio</label>

                                   <input id="nombreSocio" name="nombreSocio" type="text" class="form-control form-control-sm" placeholder="" disabled/>

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group mb-3">
                                    <input id="id" name="id" type="hidden" />
                                    <label for="socioConductor">Es Socio Conductor</label>
                                    <select id="socioConductor" name="socioConductor" class="form-control show-tick">
                                      <option value="No">No</option>
                                      <option value="Si">Si</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                            <div class="form-group mb-3">
                                <label for="fechaInscripcion">Fecha de Inscripción</label>
                                <input id="fechaInscripcion" name="fechaInscripcion" type="text" class="form-control form-control-sm item-form current-dt" data-provide="datepicker" placeholder="" autocomplete="off">
                            </div>
                        </div>
                        </div>

                      <div class="row">
                        <div class="col-12 col-sm-3">
                            <div class="form-group mb-3">
                                <label for="nombre">Nombres *</label>
                                <input id="nombre" name="nombre" type="text" class="form-control form-control-sm"
                                    placeholder="" required />
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group mb-3">
                                <label for="apellidos">Apellidos *</label>
                                <input id="apellidos" name="apellidos" type="text" class="form-control form-control-sm"
                                    placeholder="" required />
                            </div>
                        </div>
                          <div class="col-12 col-sm-3">
                            <div class="form-group mb-3">
                                <label for="telefono">Teléfono *</label>
                                <input id="telefono" name="telefono" type="number" class="form-control form-control-sm"
                                    placeholder="" required />
                            </div>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-3">
                            <div class="form-group mb-3">
                                <label for="ci">Carnet *</label>
                                <input id="ci" name="ci" type="text" class="form-control form-control-sm"
                                    placeholder="" required />
                            </div>
                        </div>
                          <div class="col-12 col-sm-3">
                            <div class="form-group mb-3">
                                <label for="lugarNacimiento">Lugar de Nacimiento *</label>
                                <select id="lugarNacimiento" name="lugarNacimiento" class="form-control show-tick" required>
                                  <option value="Beni">Beni</option>
                                  <option value="Chuquisaca">Chuquisaca</option>
                                  <option value="Cochabamba">Cochabamba</option>
                                  <option value="La Paz">La Paz</option>
                                  <option value="Oruro">Oruro</option>
                                  <option value="Pando">Pando</option>
                                  <option value="Potosi">Potosi</option>
                                  <option value="Santa Cruz">Santa Cruz</option>
                                  <option value="Tarija">Tarija</option>
                                </select>
                            </div>
                        </div>

                          <div class="col-12 col-sm-3">
                            <div class="form-group mb-3">
                                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                                <input id="fechaNacimiento" name="fechaNacimiento" type="text" class="form-control form-control-sm item-form current-dt" data-provide="datepicker" placeholder="" autocomplete="off">
                            </div>
                        </div>

                          <div class="col-12 col-sm-3">
                              <div class="form-group mb-3">
                                <label for="genero">Genero</label>
                                <select id="genero" name="genero" class="form-control show-tick">
                                  <option value="Masculino">Masculino</option>
                                  <option value="Femenino">Femenino</option>
                                </select>
                            </div>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="form-group mb-3">
                                <label for="licenciaNro">Nro. de licencia</label>
                                <input id="licenciaNro" name="licenciaNro" type="text" class="form-control form-control-sm"
                                    placeholder=""  />
                            </div>
                        </div>
                         <div class="col-12 col-sm-4">
                            <div class="form-group mb-3">
                                <label for="licenciaCategoria">Categoria de licencia</label>
                                <select id="licenciaCategoria" name="licenciaCategoria" class="form-control show-tick" >
                                  <option value="A">A</option>
                                  <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="M">M</option>
                                    <option value="P">P</option>
                                    <option value="T">T</option>
                                </select>
                            </div>
                        </div>

                          <div class="col-12 col-sm-4">
                            <div class="form-group mb-3">
                                <label for="licenciaFechaVencimiento">Fecha de Vencimiento</label>
                                <input id="licenciaFechaVencimiento" name="licenciaFechaVencimiento" type="text" class="form-control form-control-sm item-form current-dt" data-provide="datepicker" placeholder="" autocomplete="off">
                            </div>
                        </div>
                      </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                            <div class="form-group mb-3">
                                <label for="domicilio">Domicilio *</label>
                                <input id="domicilio" name="domicilio" type="text" class="form-control form-control-sm"
                                    placeholder="" required />
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                            <div class="form-group mb-3">
                                <label>Lineas e Interno</label>
                            </div>
                        </div>
                     </div>
                        <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="form-group mb-3">
                                <label for="fklinea">Linea *</label>
                                <input id="lineavehiculoid" name="lineavehiculoid" type="hidden" />
                                <select id="fklinea" name="fklinea" class="form-control show-tick">
                               {% for i in lineas %}
                                  <option value="{{ i.id }}">{{ i.codigo }}</option>
                               {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group mb-3">
                                <label for="fkinterno">Internos *</label>
                                <select id="fkinterno" name="fkinterno" class="form-control show-tick">

                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-2">
                            <div class="form-group mb-2">
                                <label for="fkinterno"></label>
                                 <button id="btn_agregar_linea" type="button" class="btn btn-primary">
                                  <span>Agregar</span>
                                </button>
                            </div>
                        </div>
                      </div>
                        <div id="div_tabla_lineas" class="content">
                          <table id="data_table_lineas" class="table table-striped dt-responsive nowrap w-100"></table>
                        </div>
                     <div class="row">
                            <div class="col-12 col-sm-6">
                            <div class="form-group mb-3">
                                <label>Beneficiarios</label>
                            </div>
                        </div>
                     </div>
                     <div class="row">
                            <div class="col-6 col-sm-6">
                            <div class="form-group mb-3">
                               <button id="newReferencia" type="button" class="btn btn-info mb-3" title="Nuevo">
                            <i class="mdi mdi-plus"></i>
                          </button>
                            </div>
                        </div>
                     </div>
                        <div class="content">
                          <table id="data_table_referencia" class="table table-striped dt-responsive nowrap w-100"></table>
                        </div>


                    </div>
                    <div class="tab-pane" id="adjuntos">
                        <div class="row">
                              <div class="col-12 col-sm-6">
                                <button id="insertfile" type="button" class="btn btn-primary">
                                  <i class="mdi mdi-content-save mr-1"></i> <span>Guardar Adjuntos</span>
                                </button>
                          </div>
                         </div>
                        <br/>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                              <label for="foto">Foto</label>
                              <input type="file" id="foto" name="foto" class="app-file">
                             </div>
                            <div class="col-12 col-sm-6">
                              <div class="row bg-preview">
                                <div class="col-12 content-preview">
                                  <img id="img-foto" src="" class="rounded-circle img-thumbnail image-preview d-none" alt="Vista previa foto" />

                                  <i id="icon-foto" class="mdi app-fs-70 mdi-account-box icon-preview"></i>
                                </div>
                              </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                              <div class="col-12 col-sm-6 mb-3">
                              <label for="file-ci">Carnet de Identidad</label>
{#                              <input type="hidden" id="foto" name="foto" class="form-control">#}
                              <input type="file" id="file-ci" name="file-ci" class="app-file">
                            </div>
                            <div class="col-12 col-sm-6 mb-3">
                              <div class="row bg-preview">
                                <div class="col-12 content-preview">
                                  <img id="img-ci" src="" class="img-thumbnail image-preview d-none" alt="Vista previa foto" />
                                  <i id="icon-ci" class="mdi app-fs-70 mdi-file-account icon-preview"></i>
                                </div>
                              </div>
                            </div>

                          </div>
                        <br/>
                        <div class="row">
                              <div class="col-12 col-sm-6 mb-3">
                              <label for="file-licencia">Licencia de Conducir</label>
{#                              <input type="hidden" id="foto" name="foto" class="form-control">#}
                              <input type="file" id="file-licencia" name="file-licencia" class="app-file">
                            </div>
                            <div class="col-12 col-sm-6 mb-3">
                              <div class="row bg-preview">
                                <div class="col-12 content-preview">
                                  <img id="img-licencia" src="" class="img-thumbnail image-preview d-none" alt="Vista previa foto" />
                                  <i id="icon-licencia" class="mdi app-fs-70 mdi-file-account icon-preview"></i>
                                </div>
                              </div>
                            </div>

                          </div>
                    </div>

                    <div class="tab-pane" id="adjuntos2">
                        <div class="row">
                              <div class="col-12 col-sm-6">
                                <button id="insertfile2" type="button" class="btn btn-primary">
                                  <i class="mdi mdi-content-save mr-1"></i> <span>Guardar Adjuntos</span>
                                </button>
                          </div>
                         </div>
                     <br/>
                        <div class="row">
                          <div class="col-12 col-sm-6">
                              <label for="file-certificadoInscripcion">Certificado de Inscripción</label>
                              <input type="file" id="certificadoInscripcion"  name="certificadoInscripcion" class="app-file">
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="row bg-preview">
                                <div class="col-12 content-preview">
                                  <img id="img-certificadoInscripcion" src="" class="img-thumbnail image-preview d-none" alt="Vista previa" />
                                  <i id="icon-certificadoInscripcion" class="mdi app-fs-70 mdi-file-account icon-preview"></i>
                                </div>
                              </div>
                            </div>
                        </div>
                     <br/>

                        <div class="row">
                          <div class="col-12 col-sm-6">
                              <label for="file-memorandum">Memorándum</label>
                              <input type="file" id="memorandum" name="memorandum" class="app-file">
                            </div>

                            <div class="col-12 col-sm-6">
                              <div class="row bg-preview">
                                <div class="col-12 content-preview">
                                  <img id="img-memorandum" src="" class="img-thumbnail image-preview d-none" alt="Vista previa" />
                                  <i id="icon-memorandum" class="mdi app-fs-70 mdi-file-account icon-preview"></i>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </form>
       <form id="submit_form-referencia" class="pl-3 pr-3 needs-validation" hidden>
           <div class="row">
                <div class="col-12 col-sm-3">
                <div class="form-group mb-3">
                    <input id="referencia-id" name="referencia-id" type="hidden" />
                    <label for="referencia-Categoria">Categoria *</label>
                    <select id="referencia-Categoria" name="referencia-Categoria" class="form-control show-tick" required>
                      <option value="Esposa">Esposa</option>
                      <option value="Esposo">Esposo</option>
                      <option value="Hijo">Hijo</option>
                      <option value="Hija">Hija</option>
                      <option value="Padre">Padre</option>
                      <option value="Madre">Madre</option>
                      <option value="Hermano">Hermano</option>
                      <option value="Hermana">Hermana</option>
                      <option value="Otro">Otro</option>
                    </select>
                </div>
                </div>
          </div>
            <div class="row">
                <div class="col-12 col-sm-3">
                    <div class="form-group mb-3">
                        <label for="referencia-Nombre">Nombre *</label>
                        <input id="referencia-Nombre" name="referencia-Nombre" type="text" class="form-control referencia form-control-sm"
                            placeholder="" required />
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group mb-3">
                        <label for="referencia-Apellido">Apellidos *</label>
                        <input id="referencia-Apellido" name="referencia-Apellidos" type="text" class="form-control referencia form-control-sm"
                            placeholder="" required />
                    </div>
                </div>
              </div>
             <div class="row">
                <div class="col-12 col-sm-3">
                    <div class="form-group mb-3">
                        <label for="referencia-Carnet">Carnet *</label>
                        <input id="referencia-Carnet" name="referencia-Carnet" type="text" class="form-control referencia form-control-sm"
                            placeholder="" required />
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group mb-3">
                        <label for="referencia-Telefono">Teléfono *</label>
                        <input id="referencia-Telefono" name="referencia-Telefono" type="text" class="form-control referencia form-control-sm"
                            placeholder="" required />
                    </div>
                </div>
              </div>
            <div class="row">
            <div class="col-12 col-sm-3">
                <div class="form-group mb-3">
                    <button id="referencia-insert" type="button" class="btn btn-primary">
                      <i class="mdi mdi-content-save mr-1"></i> <span>Guardar</span>
                    </button>
                </div>
            </div>

            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="referencia-atras" type="button" class="btn btn-light" hidden>
          <i class="mdi mdi-close-box mr-1"></i> <span>Atras</span>
        </button>

        <button id="cerrar" type="button" class="btn btn-light" data-bs-dismiss="modal">
          <i class="mdi mdi-close-box mr-1"></i> <span>Cerrar</span>
        </button>
        <button id="upsert" type="button" class="btn btn-primary">
          <i class="mdi mdi-content-save mr-1"></i> <span>Guardar</span>
        </button>
{#        <button id="update" type="button" class="btn btn-primary">#}
{#          <i class="mdi mdi-content-save mr-1"></i> <span>Actualizar</span>#}
{#        </button>#}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-lista" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">listado General de Socios</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">

            <div class="content">
                <table id="data_table_lista" class="table table-striped dt-responsive nowrap w-100"></table>
            </div>

      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="modal-transferencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Transferencia de Linea Interno</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <form id="submit_form-transferencia" class="pl-3 pr-3 needs-validation">
             <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group mb-6">
                        <label>Socio</label>
                        <input id="socioOrigenId" name="socioOrigenId" type="hidden" />
                        <input id="socioOrigen" name="socioOrigen" type="text" class="form-control referencia form-control-sm"
                            placeholder="" disabled />
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group mb-6">
                        <label>Socio a Transferir</label>
                        <select id="socioTransferencia" name="socioTransferencia" class="form-control show-tick" required>

                        </select>
                    </div>
                </div>
              </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group mb-6">
                        <label>Linea e Interno</label>
                        <select id="lineaInternoTrans" name="lineaInternoTrans" class="form-control show-tick" required>

                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group mb-6">
                        <label>Nota</label>

                        <input id="nota" name="nota" type="text" class="form-control referencia form-control-sm"
                            placeholder=""  />
                    </div>
                </div>

              </div>
        </form>
      </div>
        <div class="modal-footer">

        <button id="cerrar" type="button" class="btn btn-light" data-bs-dismiss="modal">
          <i class="mdi mdi-close-box mr-1"></i> <span>Cerrar</span>
        </button>
        <button id="btnTransferir" type="button" class="btn btn-primary">
          <i class="mdi mdi-content-save mr-1"></i> <span>Transferir</span>
        </button>
      </div>

    </div>
  </div>
</div>