{% load static %}

<a href="/" class="logo text-center logo-light">
  <span class="logo-lg">
      <img src='{% static "imagen/logo.png" %}' alt='' height='70' />

  </span>
  <span class="logo-sm">
      <img src='{% static "imagen/logo-mini.png" %}' alt='' height='70' />
  </span>
</a>

{#<a href="/" class="logo text-center logo-dark">#}
{#  <span class="logo-lg">#}
{#      <img src='{% static "template/assets/images/logo-dark.png" %}' alt='' height='16' />#}
{#  </span>#}
{#  <span class="logo-sm">#}
{#      <img src='{% static "template/assets/images/logo_sm_dark.png" %}' alt='' height='16' />#}
{#  </span>#}
{#</a>#}


<div class="h-100" id="leftside-menu-container" data-simplebar>
  <ul class="side-nav">

    <li class="side-nav-title side-nav-item">Navegación</li>
          {% if rol == "Administrador" %}
      <li class="side-nav-item">
      <a data-bs-toggle="collapse" href="#usuario" aria-expanded="false"
        aria-controls="ad" class="side-nav-link">
        <i class="mdi mdi-security"></i>
        <span>Seguridad</span>
        <span class="menu-arrow"></span>
      </a>
      <div class="collapse" id="usuario">
        <ul class="side-nav-second-level">
          <li>
            <a href="/usuario">Usuarios</a>
          </li>
            <li>
            <a href="/rol">Rol</a>
          </li>
            <li>
            <a href="/bitacora">Bitacora</a>
          </li>
        </ul>
      </div>
    </li>
         {% endif %}
            <li class="side-nav-item">
          <a  href="/linea/"
            aria-controls="ad" class="side-nav-link">
              <i class="mdi mdi-store"></i>
            <span>Linea</span>
          </a>
     </li>
  <li class="side-nav-item">
          <a  href="/persona/"
            aria-controls="ad" class="side-nav-link">
            <i class="mdi mdi-account-tie"></i>
            <span>Socios</span>
          </a>
     </li>
      <li class="side-nav-item">
          <a  href="/vehiculo/"
            aria-controls="ad" class="side-nav-link">
            <i class="mdi mdi-train-car-passenger"></i>
            <span>Vehiculos</span>
          </a>
     </li>

      <li class="side-nav-item">
          <a  href="/conductor/"
            aria-controls="ad" class="side-nav-link">
            <i class="mdi mdi-account-tie-hat"></i>
            <span>Conductores</span>
          </a>
     </li>
    <li class="side-nav-item">
      <a  href="/incidente/"
        aria-controls="ad" class="side-nav-link">
        <i class="mdi mdi-ambulance"></i>
        <span>Incidentes</span>
      </a>
     </li>
      <li class="side-nav-item">
      <a  href="/capacitacion/"
        aria-controls="ad" class="side-nav-link">
        <i class="uil-clipboard-alt"></i>
        <span>Capacitaciones</span>
      </a>
     </li>
{#      <li class="side-nav-item">#}
{#      <a  href="/bitacora/"#}
{#        aria-controls="ad" class="side-nav-link">#}
{#        <i class="mdi mdi-facebook"></i>#}
{#        <span>Redes Sociales</span>#}
{#      </a>#}
{#     </li>#}

  </ul>

  <div class="help-box text-white text-center">
    <a href="javascript: void(0);" class="float-end close-btn text-white">
      {# <i class="mdi mdi-close"></i> #}
    </a>
       <img src='{% static "app/assets/images/version.png" %}' alt='' height='40' />
    <h5 class="mt-3">G-Datos</h5>
    <p class="mb-3">Version 0.0.3</p>
  </div>

  <div class="clearfix"></div>
</div>
