<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Linea</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <form id="submit_form" class="pl-3 pr-3 needs-validation" novalidate>
          <div class="form-group mb-3">
            <input id="id" name="id" type="hidden" />
          </div>
          <div class="row">
            <div class="col-12 col-sm-6">
                <div class="form-group mb-3">
                    <label for="codigo">Codigo *</label>
                    <input id="codigo" name="codigo" type="text" class="form-control form-control-sm"
                        placeholder="" required />
                </div>
            </div>
              <div class="col-12 col-sm-6">
                <div class="form-group mb-3">
                    <label for="razonSocial">Razon Social *</label>
                    <input id="razonSocial" name="razonSocial" type="text" class="form-control form-control-sm"
                        placeholder="" required />
                </div>
            </div>
          </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                <div class="form-group mb-3">
                    <label for="ubicacion">Ubicación Oficina *</label>
                    <input id="ubicacion" name="ubicacion" type="text" class="form-control form-control-sm"
                        placeholder="" required />
                </div>
               </div>
                <div class="col-12 col-sm-6">
                <div class="form-group mb-3">
                    <label for="fechaFundacion">Fecha Fundacion *</label>
                    <input id="fechaFundacion" name="fechaFundacion" type="text" class="form-control form-control-sm item-form current-dt" data-provide="datepicker" placeholder="" required autocomplete="off">
                </div>
            </div>
          </div>


            <div class="row">
                <label for="internos">Datos del Presidente</label>
            <div class="col-12 col-sm-4">
                <div class="form-group mb-3">
                    <label for="nombre">Nombre *</label>
                    <input id="nombre" name="nombre" type="text" class="form-control form-control-sm"
                        placeholder="" required />
                </div>
            </div>
              <div class="col-12 col-sm-4">
                <div class="form-group mb-3">
                    <label for="apellidos">Apellidos *</label>
                    <input id="apellidos" name="apellidos" type="text" class="form-control form-control-sm"
                        placeholder="" required />
                </div>
            </div>
                <div class="col-12 col-sm-4">
                <div class="form-group mb-3">
                    <label for="celular">Celular *</label>
                    <input id="celular" name="celular" type="text" class="form-control form-control-sm"
                        placeholder="" required />
                </div>
            </div>
          </div>
        <div id="div_internos" class="row">
            <div class="col-12 col-sm-6">
                <div class="form-group mb-3">
                    <label for="internos">Cant. de Internos *</label>
                    <input id="internos" name="internos" type="number" class="form-control form-control-sm"
                        placeholder="" required />
                </div>
            </div>

          </div>
           <div id="div_btn_internos" class="row">
            <div class="col-12 col-sm-6">
                 <label>Cant. de Internos Actual </label> <label id="label_internos"></label>
                <div class="form-group mb-3">

                     <button id="btn_agregar_internos" type="button" class="btn btn-primary" onclick="abrir_form_interno()">
                      <span>Agregar Internos</span>
                    </button>
                </div>
            </div>
          </div>
        </form>
          <form id="submit_form_interno" class="pl-3 pr-3 needs-validation" novalidate >
             <div id="form_interno" hidden>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group mb-3">
                            <label for="internosAlguiler">Cantidad de Internos de Alquiler</label>
                            <input id="internosAlguiler" name="internosAlguiler" type="number" class="form-control form-control-sm"
                                placeholder="" required />
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group mb-3">
                            <button id="btn_guardar_internos" type="button" class="btn btn-primary">
                              <i class="mdi mdi-content-save mr-1"></i> <span>Guardar</span>
                            </button>
                        </div>
                    </div>
                  </div>
             </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="cerrar" type="button" class="btn btn-light" data-bs-dismiss="modal">
          <i class="mdi mdi-close-box mr-1"></i> <span>Cerrar</span>
        </button>
        <button id="insert" type="button" class="btn btn-primary">
          <i class="mdi mdi-content-save mr-1"></i> <span>Guardar</span>
        </button>
        <button id="update" type="button" class="btn btn-primary">
          <i class="mdi mdi-content-save mr-1"></i> <span>Actualizar</span>
        </button>
      </div>
    </div>
  </div>
</div>